{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Solo Aalpine Trek</title>
    <link rel="icon" href="logo.png" type="image/x-icon" />
    <link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css"/>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap" rel="stylesheet"/>
  </head>
  <body>
    <header>
      <nav>
        <ul>
          <li><a href="#">Home</a></li>
          <li><a href="#">Blog</a></li>
          <li><a href="#">About</a></li>
          <li><a href="#">Contact</a></li>
        </ul>
      </nav>
    </header>
    <section class="banner">
      <div class="container">
        <div id="overlay"></div>
        <h1>SOLO ALPINE TREK</h1>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam
          voluptatum, quibusdam, quia, quae voluptates voluptatem quos
          voluptatibus quod doloribus quas voluptate. Quisquam voluptatum,
          quibusdam, quia, quae voluptates voluptatem quos voluptatibus quod
          doloribus quas voluptate.
        </p>

        <a href="#" class="btn">Read More</a>
      </div>
    </section>
    <section>
      <div class="container">
        <h1>SOLO ALPINE TREK</h1>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam
          voluptatum, quibusdam, quia, quae voluptates voluptatem quos
          voluptatibus quod doloribus quas voluptate. Quisquam voluptatum,
          quibusdam, quia, quae voluptates voluptatem quos voluptatibus quod
          doloribus quas voluptate.
        </p>

        <a href="#" class="btn">Read More</a>
      </div>
    </section>
    <section class="banner">
      <div class="container">
        <div id="overlay"></div>
        <h1>SOLO ALPINE TREK</h1>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam
          voluptatum, quibusdam, quia, quae voluptates voluptatem quos
          voluptatibus quod doloribus quas voluptate. Quisquam voluptatum,
          quibusdam, quia, quae voluptates voluptatem quos voluptatibus quod
          doloribus quas voluptate.
        </p>

        <a href="#" class="btn">Read More</a>
      </div>
    </section>
    <section>
      <div class="container">
        <h1>SOLO ALPINE TREK</h1>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam
          voluptatum, quibusdam, quia, quae voluptates voluptatem quos
          voluptatibus quod doloribus quas voluptate. Quisquam voluptatum,
          quibusdam, quia, quae voluptates voluptatem quos voluptatibus quod
          doloribus quas voluptate.
        </p>

        <a href="#" class="btn">Read More</a>
      </div>
    </section>
    <section class="banner">
      <div class="container">
        <div id="overlay"></div>
        <h1>SOLO ALPINE TREK</h1>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam
          voluptatum, quibusdam, quia, quae voluptates voluptatem quos
          voluptatibus quod doloribus quas voluptate. Quisquam voluptatum,
          quibusdam, quia, quae voluptates voluptatem quos voluptatibus quod
          doloribus quas voluptate.
        </p>

        <a href="#" class="btn">Read More</a>
      </div>
    </section>
    <section>
      <div class="container">
        <h1>SOLO ALPINE TREK</h1>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam
          voluptatum, quibusdam, quia, quae voluptates voluptatem quos
          voluptatibus quod doloribus quas voluptate. Quisquam voluptatum,
          quibusdam, quia, quae voluptates voluptatem quos voluptatibus quod
          doloribus quas voluptate.
        </p>

        <a href="#" class="btn">Read More</a>
      </div>
    </section>

    <footer></footer>
  </body>
</html>
