<!-- footer.html -->
<footer id="contact" class="bg-dark page-footer p-5 text-md-left">
    <div class="container py-5">
      <div class="row g-4">
        <div class="col-lg-3 col-md-6 ">
          <h5 class="text-uppercase text-white font-weight-bold mb-4">SoloAlpineTrek</h5>
          <p class="text-white">
            "Embark on a journey where every step leads to adventure, every trail
             unveils a story, and every summit conquers a dream." 
          </p>
        </div>
        <div class="col-lg-2 col-md-6 mx-auto">
          <h5 class="text-uppercase text-white font-weight-bold mb-4">Services</h5>
          <ul class="list-unstyled">
            <li class="mb-1">
              <a href="#" class="text-white">Trekking</a>
            </li>
            <li class="mb-1">
              <a href="#" class="text-white">Booking</a>
            </li>
            <li class="mb-1">
              <a href="#" class="text-white">Camping</a>
            </li>
            <li class="mb-1">
              <a href="#" class="text-white">Rafting</a>
            </li>
            </li>
            <li class="mb-1">
              <a href="#" class="text-white">Expeditation</a>
            </li>
          </ul>
        </div>  
        <div class="col-lg-2 col-md-6 mx-auto">
          <h5 class="text-uppercase text-white font-weight-bold mb-4">Page links</h5>
          <ul class="list-unstyled">
            <li class="mb-1">
              <a href="#" class="text-white">Home</a>
            </li>
            <li class="mb-1">
              <a href="#" class="text-white">About</a>
            </li>
            <li class="mb-1">
              <a href="#" class="text-white">Services</a>
            </li>
            <li class="mb-1">
              <a href="#" class="text-white">Contact us</a>
            </li>

          </ul>
        </div>  
        <div class="col-lg-3 col-xs-12 locations">
          <h5 class="text-uppercase text-white font-weight-bold mb-4">Location</h5>
          <p class="d-flex text-white"> 
            <i class="bi bi-geo-alt-fill"></i>Kathmandu, Nepal
          </p>
          <p class="d-flex text-white"> 
            9818453456
          </p>
          <p class="d-flex text-white"> 
            Soloalpin@gmail.com
          </p>
        </div>        
      </div>
    </div>  
  </footer>
  <footer class="bg-white text-dark text-center p-3 positive-relative">
    <div class="container">
      <p class="mb-0">© 2024 SoloAlpineTrek. All rights reserved.</p>
    </div>
  </footer>
  
