<div class="w-100 mx-auto text-center font-weight-bold">
    {% if messages %}
        {% for message in messages %}
            {% if message.tags == 'error' %}
                <div class="alert alert-danger alert-dismissible fade show" role="alert" style="background-color: grey; color: black;">
            {% else %}
                <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert" style="background-color: grey; color: black;">
            {% endif %}

                {{ message }}
                <button type="button" class="close btn btn-secondary" data-dismiss="alert" aria-label="Close" style="background-color: transparent;">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        {% endfor %}
    {% endif %}
</div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<!-- Bootstrap Bundle with Popper -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>